<nav>
    <button class="mobile-menu-button">Menu</button>
    <ul class="nav-bar hidden">
        <li><a href="/" class="nav-link">Home</a></li>
        <li><a href="quiz" class="nav-link">Quiz</a></li>
        <li><a href="feitjes" class="nav-link">Epische komkommer feitjes</a></li>
        <li><a href="foto" class="nav-link">Coole komkommer foto's</a></li>
        <li><a href="plant" class="nav-link">De groei van een plant</a></li>
        <li><a href="overons" class="nav-link">Over ons</a></li>
    </ul>
</nav>

