<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verkeerde pagina jij bergkip</title>
    <style>
        img{
            width: 100%;
            height: 100%;
        }
        h1{
            text-align: center;
            font-size: 5rem;
        }
    </style>
</head>
<body>
    <h1>404 verkeerde pagina</h1>
    <img src="../img/kromkommer.jpg" alt="komkommer">
</body>
</html>