<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alles over komkommers!</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="/script/style.js" defer></script>
    <script src="/script/cookie.js" defer></script>
    <script src="/script/dashboard.js" defer></script>
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.png">

</head>

<body>
    <div class="header" id="header">
        <h1>Welkom op komkommer.eu!</h1>
        <h3>Dashboard</h3>
    </div>
    <nav>
        <button class="mobile-menu-button">Menu</button>
        <ul class="nav-bar hidden">
            <%- nav  %>
        </ul>
    </nav>
    <main>
        <div class="main-tekst">
            <h4>Welkom op het dashboard</h4>
            <div class="dashData white-background">
                <form class="feitForm">
                    <label for="feitje">feitjes</label>
                    <input type="text" placeholder="nieuw feitje" name="feitje" id="feitje">
                    <button id="addFeitje" type="submit">Voeg toe</button>
                    <div id="feitjesList">

                    </div>
                </form>
                    
            </div>

            <div class="dashData white-background">
                <form class="quizForm">
                    <label for="quizVraag">quiz</label>
                    <input type="text" name="vraag" placeholder="nieuwe vraag" id="vraag">
                    <input type="text" name="antwoord1" placeholder="antwoord 1" id="antwoord1">
                    <input type="text" name="antwoord2" placeholder="antwoord 2" id="antwoord2">
                    <input type="text" name="antwoord3" placeholder="antwoord 3" id="antwoord3">
                    <input type="number" name="goedAntwoord" placeholder="2" id="goedAntwoord">
                    <button id="addVraag" type="submit">Voeg toe</button>
                    <div id="quizList">
                    </div>
                </form>
                <div class="quizContainer" id="quizContainer">

                </div> 
            </div>

            <div class="URLstats white-background" id="URLstats">
                <h4>Meest voorkomende 404 url's</h4>
                <ol id="404List">

                </ol>
            </div>

            <div class="quizStats white-background" id="quizStats">
                <h4>quiz antwoorden</h4>
               <select name="quiz" id="quizSelect"></select>
                <div class="barChart" id="barChart"></div>
            </div>

        </div>
    </main>
    <%- locals.disclaimer %>

    <footer>
        <%- footer  %>
    </footer>

</body>

</html>