<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alles over komkommers!</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="/script/style.js" defer></script>
    <script src="/script/cookie.js" defer></script>
    <script src="/script/dashboard.js" defer></script>
</head>

<body>
    <div class="header" id="header">
        <h1>Welkom op komkommer.eu!</h1>
        <h3>Dashboard</h3>
    </div>
    <nav>
        <button class="mobile-menu-button">Menu</button>
        <ul class="nav-bar hidden">
            <%- nav  %>
        </ul>
    </nav>
    <main>
        <div class="main-tekst">
            <h4>Welkom op het dashboard</h4>
            <div class="intro-tekst white-background">
                <form class="feitForm">
                    <label for="feitje">Nieuw feitje</label>
                    <input type="text" name="feitje" id="feitje">
                    <button id="addFeitje" type="submit">Voeg toe</button>
                    <div id="feitjesList">

                    </div>
                </form>
                    
            </div>
        </div>
        <img src="img/plant.jpg" alt="komkommers">
    </main>
    <%- locals.disclaimer %>

    <footer>
        <%- footer  %>
    </footer>

</body>

</html>