<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alles over komkommers!</title>
    <meta name="description" content="Lees leuke en interessante feitjes over komkommers">
    <meta name="author" content="Tycho van Opstal">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/feitjes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="/script/style.js" defer></script>
    <script src="/script/feitjes.js" defer></script>
    <script src="/script/cookie.js" defer></script>
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.png">

</head>

<body>
    <div class="header" id="header">
        <h1>Epische komkommer feitjes</h1>
        <h3>Zó veel informatie over komkommers!</h3>
    </div>
    <nav>
        <button class="mobile-menu-button">Menu</button>
        <ul class="nav-bar hidden">
            <%- nav  %>
        </ul>
    </nav>
    <main>
        <div class="main-tekst">
            <h4>Wist jij dat...</h4>
            <div class="feitjes white-background" id="feitjes"></div>
        </div>
        <img src="/img/plant.jpg" alt="komkommers">
    </main>
    <%- locals.disclaimer %>

    <footer>
        <%- footer  %>
    </footer>

</body>

</html>