<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alles over komkommers!</title>
    <meta name="description" content="Bekijk hele coole komkommer foto's. Zo mooi heb je ze nog nooit gezien.">
    <meta name="author" content="Tycho van Opstal">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/foto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="/script/style.js" defer></script>
    <script src="/script/foto.js" defer></script>
    <script src="/script/cookie.js" defer></script>
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.png">

</head>

<body>
    <div class="header" id="header">
        <h1>Coole komkommer foto's</h1>
        <h3>Zó mooi heb je ze nog nooit gezien!</h3>
    </div>
       
    <%- include("partials/nav") %>

    <main>
        <div class="main-tekst">
            <h4>Gallerij</h4>
            <div class="gallerij" id="gallerij">
            </div>
        </div>
    </main>
    <%- locals.disclaimer %>


    <%- include("partials/footer") %> 


</body>

</html>