<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alles over komkommers!</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="script/style.js" defer></script>
    
</head>

<body>
    <div class="header" id="header">
        <h1>Welkom op kom-kommers.nl!</h1>
        <h3>Dé website over komkommers</h3>
    </div>
    <nav>
        <button class="mobile-menu-button">Menu</button>
        <ul class="nav-bar hidden">
            <li><a href="/" class="active">Home</a></li>
            <li><a href="quiz">Leuke quiz</a></li>
            <li><a href="feitjes">Epische komkommer feitjes</a></li>
            <li><a href="foto">Coole komkommer foto's</a></li>
            <li><a href="overons">Over ons</a></li>
        </ul>
    </nav>
    <main>
        <div class="main-tekst">
            <h4>Welkom op kom-kommer.nl, dé website over komkommers!</h4>
            <p>
                Op deze website vind je alles over komkommers. Van komkommer feitjes tot komkommer foto's. Je kunt zelfs een leuke quiz doen over komkommers!
            </p>
            <p>
                Wij van kom-kommer.nl worden echt gedreven door onze passie voor komkommers. We hebben dan ook een hoop tijd gestoken in het maken van deze website. Wij hopen dat je veel plezier beleeft aan onze website!
            </p>
        </div>
        <img src="img/plant.jpg" alt="komkommers">
    </main>

    <footer>
        <p>© 2021 Kom-kommer.nl</p>
    </footer>

</body>

</html>