<!DOCTYPE html>
<html lang="nl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alles over komkommers!</title>
    <meta name="description" content="over komkommer.eu">
    <meta name="author" content="Tycho van Opstal">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/feitjes.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="/script/style.js" defer></script>
    <script src="/script/over.js" defer></script>
    <script src="/script/cookie.js" defer></script>
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon.png">

</head>

<body>
    <div class="header" id="header">
        <h1>Over komkommer.eu</h1>
        <h3>Neem vooral geen contact op bij vragen</h3>
    </div>
    
    <%- include("partials/nav") %>

    <main>
        <div class="main-tekst white-background">
            <h4>Wie zijn wij?</h4>
            <p>
                Wij zijn ik, Tycho. Er zijn geen andere personen betrokken bij het maken/onderhouden van deze website.
            </p>
            <h4>Waarom deze website?</h4>
            <p>
                Komkommertijd
                </p>
            <h4>Waarom komkommers?</h4>
            <p>
                Komkommers zijn lekker
            </p>
            <h4>
                Waarom komkommer.eu?
            </h4>
            <p>
                Komkommer.nl was al bezet
            </p>
            <h4>
                Contact?
            </h4>
            <p>
                Alsjeblieft niet
            </p>
            <h4>
                Is er een api?
            </h4>
            <p>
                Natuurlijk! <a href="/docs">Documentatie</a>
            </p>
            <!-- waarom kijk jij hier? -->
        </div>
        <img src="/img/plant.jpg" alt="komkommers">
    </main>
    <%- locals.disclaimer %>


    <%- include("partials/footer") %> 


</body>

</html>