<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Wat is jouw komkommerkennis? Komkommer achter in deze moeilijke en uitdagende quiz geschikt voor alle leeftijden.">
    <meta name="author" content="Tycho van Opstal">
    <title>Alles over komkommers!</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/quiz.css">
    <script src="/script/quiz.js" defer></script>
    <script src="/script/style.js" defer></script>
    <script src="/script/cookie.js" defer></script>

</head>
<div class="container">
    <div class="header" id="header">
        <h1>Epische komkommer quiz</h1>
        <h3>Dé website over komkommers</h3>
    </div>
    <nav>
        <button class="mobile-menu-button">Menu</button>
        <ul class="nav-bar hidden">
            <%- nav  %>
        </ul>
    </nav>

      <main class="main" id="main">
        <div class="quiz white-background" id="quiz">

            <div class="vragen" id="vragen">
                <p class="vraag" id="vraag0">Welke kleur zijn komkommers? </p>
                <div class="antwoorden" id="antwoorden">
                    <div class="input"> <input class="antwoord" type="radio" name="vraag0" value="1"> <p class="ans"> Rood </p></div>
                    <div class="input"><input class="antwoord" type="radio" name="vraag0" value="2"> <p class="ans"> Geel </p></div>
                    <div class="input"><input class="antwoord" type="radio" name="vraag0" value="3"> <p class="ans"> Groen </p></div>
                </div>
            </div>


            <div class="buttons">
                <button class="prev">Vorige vraag</button>
                <button class="next">Volgende vraag</button>
            </div>
            <div class="progress" id="progress">
                <div class="progress-bar" id="progress-bar"></div>
        </div>

    </main>

      <%- locals.disclaimer %>

    <footer>
        <%- footer  %>
    </footer>
</div>
</body>
</html>