<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alles over komkommers!</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/quiz.css">
    <script src="/script/quiz.js" defer></script>
    <script src="/script/style.js" defer></script>

</head>
<body>
    <div class="header" id="header">
        <h1>Epische komkommer quiz</h1>
        <h3>Dé website over komkommers</h3>
    </div>
    <nav>
        <button class="mobile-menu-button">Menu</button>
        <ul class="nav-bar hidden">
            <li><a href="/">Home</a></li>
            <li><a href="quiz" class="active">Leuke quiz</a></li>
            <li><a href="feitjes">Epische komkommer feitjes</a></li>
            <li><a href="foto">Coole komkommer foto's</a></li>
            <li><a href="overons">Over ons</a></li>
        </ul>
    </nav>

      <main class="main" id="main">
        <div class="quiz" id="quiz">
            <div class="vragen" id="vragen">
                <p class="vraag" id="vraag0">Dit is een vraag</p>
                <div class="antwoorden" id="antwoorden">
                    <input class="antwoord" type="radio" name="vraag0" value="1"> <p class="ans"> Antwoord 1 </p>
                    <input class="antwoord" type="radio" name="vraag0" value="2"> <p class="ans"> Antwoord 2 </p>
                    <input class="antwoord" type="radio" name="vraag0" value="3"> <p class="ans"> Antwoord 3 </p>
                </div>
            </div>
            <button class="prev">Vorige vraag</button>
            <button class="next">Volgende vraag</button>
            <div class="progress" id="progress">
                <div class="progress-bar" id="progress-bar"></div>
        </div>

    </main>

    <footer>
        <%- footer  %>
    </footer>

</body>
</html>