.main-tekst{
    width: 100%;
}

.gallerij{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.foto{
    margin: 5% 0 0 0;
}

img{
    margin: auto;
    display: block;
}