:root{
    --black: #000;
    --white: #fff;
    --green: #1e791e;
    --geel: #f2e600;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    min-height: 100vh;
    background-color: var(--green);
}

.container{
    width: 100%;
}

.header{
    background-color: var(--white);
    padding: 20px;
    text-align: center;
    background-image: url("../img/kas2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1.2rem;
    color: var(--white);
}

nav{
    width: 100%;
    padding: 20px 0;
    font-size: 1.2rem;
    background-color: var(--white);
}

nav .mobile-menu-button{
    display: none;
}

nav ul{
    list-style: none;
    display: flex;
    margin: 0 auto;
    padding: 0;
    width: 90%;
}

nav li{
    flex: content;
    text-align: center;
}

nav a{
    color: var(--black);
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav a:hover{
    color: var(--green);
    font-size: 1.25rem;
}

nav .active{
    color: var(--green);
    font-size: 1.25rem;
}

main{
    padding: 20px;
    display: flex;
    background-color: var(--green);
    justify-content: space-between;
    font-size: 1.2rem;
}

main h4{
    font-family: 'Oswald', sans-serif;
}

img{
    background-color: darkcyan;
    max-height: 70vh;
    width: auto;
    max-width: 50%;
    border-radius: 10px;
    box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.5);
}

footer{
    background-color: var(--white);
    padding: 5px 0;
    text-align: center;
    font-size: 1rem;
    width: 100%;
    position: relative;
    bottom: 0vh;
}

footer a{
    color: var(--black);
    text-decoration: none;
}

.white-background{
    background-color: var(--white);
    padding: 25px;
    border-radius: 5px;
    border: 1px solid var(--white);
    box-shadow: 5px 5px 15px 3px rgba(0,0,0,0.5);
}

.intro-tekst{
    width: 85%;
}

.disclaimer{
    position:fixed;
    width: auto;
    bottom: 0;
    left: 0;
    padding: 10px;
    background-color: var(--geel);
    border-radius: 10px;
    z-index: 99;
}



@media screen and (max-width: 850px){

    nav ul{
        display: block;
    }

    nav .hidden{
        display: none;
    }

    nav .mobile-menu-button{
        display: block;
        font-size: 1.1rem;
        color: var(--black);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin: auto;
        background-color: var(--green);
        padding: 10px;
        border-radius: 15px;
        width: 25vw;
        min-width: 50px;
        max-width: 100px;
    }

    nav li{
        flex: 100%;
        margin: 5px 0;
    }

    main{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    main h4{
        text-align: center;
    }

    main .intro-tekst{
        width: auto
    }

    img{
        background-color: var(--geel);
        max-height: 50vh;
        width: auto;
        margin: 20px auto auto;
    }

    footer{
        position: relative;
    }
}